@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@theme inline {
  --color-background: var(--background) es;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit), system-ui, sans-serif;
  --font-mono: var(--font-JetBrains), monospace;
  --font-inter: var(--font-inter), system-ui, sans-serif;
  --font-space: var(--font-spaceMono), system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #0a0a0a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: var(--font-sans);
}
